<h1>Ruby on Rails Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path %>

<% @ror_items.each do |item| %>
  <p><%= link_to item.title, portfolio_show_path(item) %></p>
  <p><%= item.subtitle %></p>
  <p><%= item.body %></p>
  <%= image_tag item.thumb_image if item.thumb_image %>
<% end %>
