<div class="container">
  <div class="row">
    <div class="col-md-7">
      <p><%= image_tag @portfolio_item.main_image %></p>
    </div>

    <div class="col-md-5">
      <h1><%= @portfolio_item.title %></h1>
      <hr>

      <em><%= @portfolio_item.subtitle %></em>

      <p><%= @portfolio_item.body %></p>
      <hr>

      <h3>Technologies used:</h3>

      <ul>
        <% @portfolio_item.technologies.each do |tech| %>
          <li><%= tech.name %></li>
        <% end %>
      </ul>

      <p>
      <%= link_to "Edit Item", edit_portfolio_path(@portfolio_item) if logged_in?(:site_admin) %>
      <%= link_to "Delete Item", portfolio_path(@portfolio_item), method: :delete, data: { confirm: "Are you sure?" } if logged_in?(:site_admin) %>
      </p>
    </div>
  </div>
</div>
